# .gitignore file

# Environment variables and virtual environments
.env
.venv
venv/

# Arquivos temporários do Python
__pycache__/

# Arquivos de dados gerados (não devem ser versionados)
*.xlsx
*.csv